.bgImageDiv{
    background: url(../../data/bannerbackground.png);
    height: 80vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.search-wrap{
    text-align: center;
    position: relative;
    margin: 0 auto;
    width: 400px;
}
.search-input{
    position:absolute;
    width: 400px;
}
.search-input input{
    width: 400px;
    height: 30px;
    border-radius: 50px;
    border: 1px solid #ced4da;
    padding-left: 20px;
    font-size: 20px;
}
.search-btn{
    position:absolute;
    background-color: #F91944;
    border-radius: 15px;
    padding: 4px 16px;
    right: 0;
    cursor: pointer;
    color: #fff;
}
.search-input input:focus{
    outline: 2px solid #F91944;
}

@media only screen and (max-width: 550px) {
    .bgImageDiv{
        height: 40vh;
    }
    .search-wrap, .search-input, .search-input input{
        width: 260px;
    }
    .search-btn{
        padding: 3px 10px;
    }
  }